@import "./bootstrap/scss/functions";
@import "./bootstrap/scss/variables";
@import "./bootstrap/scss/mixins";

$spacer: 1rem;
$spacers: (
  6: ($spacer * 6)
);

$link-color:                $gray-600;
$link-decoration:           underline;
$link-hover-color:          darken($link-color, 15%);
$link-hover-decoration:     underline;

@import "./bootstrap/scss/bootstrap.scss";
@import "./fonts.scss";

body {
  margin: 0;
  padding: 0;
}

header h1 {
  margin: 7.5rem 0 9rem 0;
  padding-left: 4px;
  font-family: "sf_speakeasyoblique";
  font-size: $display3-size;
  line-height: 1.00;
  letter-spacing: 4px;
  transform: skewY(-9deg) skewX(-3deg) rotate(-0deg);
  color: #bcffc5;
  text-shadow: 1px 2px 0px #8acc93;
  span {
    color: #bcffe0;
    text-shadow: 1px 2px 0px #7cc1a1;
  }
}

.subtitle {
  font-family: "fantasque_sans_monoregular";
  line-height: 1;
  color: #FFF;
  background: rgba(0, 0, 0, 0.06);
}

section {
  font-family: "fantasque_sans_monoregular";
}

.border-translucent {
  border: 2px solid rgba(255, 255, 255, 0.24);
}
